p{
    font-size: 100px;
    float: none;
    margin: 0 auto;

    
}
.container{
    padding-top: 100px;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1{
    float: none;
    margin: 0 auto;

}

button{
    float: none;
    margin: 0 auto;
    width: 150px;
}
